// -----------------------------------------------------------------------------
// Basic typography style for copy text
// -----------------------------------------------------------------------------
@use "partials/abstracts/mixins";

body {
	color: var(--color-1-normal);
	font-family: var(--secondary-font);
	line-height: var(--line-height);
}

p {
	margin-bottom: var(--margin);
	color: var(--color-1-normal);
	font-family: var(--secondary-font);
	padding: 0;
	overflow: hidden;
}

h1 {
	font-family: var(--primary-font);
	font-size: 3rem;
	line-height: normal;
	text-transform: uppercase;
	overflow-wrap: break-word;
}

h2 {
	color: var(--color-1-normal);
	font-size: 2rem;
	font-family: var(--primary-font);
}

figcaption {
	margin: 0;
	padding: 0;
	font-size: var(--figcaption);
	font-weight: normal;
}

.countryText {
	text-transform: capitalize;
}

blockquote {
	@include mixins.blockquote();
	position: relative;
}

blockquote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 800px;
	position: absolute;
	left: -300px;
	top: -450px;
	color: var(--color-2-normal);
	z-index: -1;
}

.first-paragraph {
	font-weight: bolder;
}

blockquote > p::first-line {
	font-weight: normal;
}

section > p:first-of-type::first-letter {
	@include mixins.dropcap();
}
