// -----------------------------------------------------------------------------
// This file contains all header styles
// -----------------------------------------------------------------------------

#siteHeader {
	display: block;
	background: var(--color-2-normal);
}

nav {
	display: flex;
	background: var(--color-1-gray);
	justify-content: center;
	align-items: flex-end;
}
