// -----------------------------------------------------------------------------
// This file contains all mixins
// -----------------------------------------------------------------------------

form {
  h2 {
    color: black;
  }
}

input,
button {
  border: none;
  padding: 0.5rem;
}

textarea:not(:placeholder-shown):invalid,
input:not(:placeholder-shown):invalid {
  border: 3px solid red;
  transition: var(--transition);
}

input,
.autocomplete__hint,
.autocomplete__input {
  transition: var(--transition);
  border: 1px solid lightgrey;
  height: 35px;
  font-family: "GT-Walsheim-Pro-Regular";
}

button:hover {
  background-color: var(--color-2-normal);
  cursor: pointer;
}

.sign-up-form {
  align-self: center;
  justify-self: center;
  max-width: 400px;
  padding: 2rem;
  border: 1px solid lightgrey;
}

.form-group {
  margin: 1rem 0;
}

.helper-text {
  color: var(--color-3-normal);
  font-size: 0.8rem;
}

label,
.helper-text,
input,
textarea {
  display: block;
  width: 100%;
  padding-bottom: 3px;
}

.autocomplete__input {
  background-color: #fff;
}

.form-group {
  span {
    display: none;
  }
  .asterisk {
    display: inline;
    color: var(--menu-text-color);
    margin-right: 5px;
  }
}

.instruction {
  font-size: 0.7rem;
  color: grey;
  display: flex;
  margin-top: 20px;
  .asterisk {
    display: inline;
    color: var(--menu-text-color);
    margin: 0 3px;
  }

  h5 {
    margin-right: 3px;
  }
}

.checboxgroup {
  display: flex;
  font-size: 0.7rem;
  input {
    width: fit-content;
    margin: 0 10px 0 0;
  }
}

.sign-up-btn {
  background-color: var(--color-1-normal);
  width: 100px;
  color: var(--color-1-white);
}

.sign-up-btn:disabled {
  background-color: var(--color-1-gray);
}
